<section class="hero is-danger is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        B-Law's Burgers
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container has-text-centered">
    <img class="burgerPic" width="400" />
  </div>
</section>
<section class="section">
  <div id="eat" class="container">
  <ul align="left">
    {{#each burger_name}} 
    {{#unless devoured}} 
    {{burger_name}} {{> burger/burger-block devoured=true}} 
    {{/unless}} 
    {{/each}}
  </ul>
  <ul align="right">
    {{#each burger_name}} 
    {{#if devoured}} 
   {{burger_name}} {{> burger/burger-block devoured=false}} 
    {{/if}} 
    {{/each}}
  </ul>
  </div>
</section>
<section class="section">
  <div class="contain is-fluid">
    <form class="create-form">
      <div class="field">
        <label class="label">Create Your Burger</label>
        <div class="control">
          <textarea id="burger-name" class="textarea" placeholder="Bugers are Delicious"></textarea>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button id="create-burger" class="button is-link is-danger" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</section>